@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<MudLayout>
    <link rel="icon" href="sample-databf-logo-2.svg">
    <MudAppBar Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Bostadsportalen</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-16 pt-16">
            @Body
        </MudContainer>
    </MudMainContent>
    <MudAppBar Elevation="1" Style="top: auto; bottom: 0">
        <a href="https://www.facebook.com/bostadsformedlingen/" target="_blank">
            <MudImage Src="images/Facebook_icon.png" Alt="Facebook icon" Height="25" Width="25" Elevation="25" Class="rounded-lg" />
        </a>
        <a href="https://se.linkedin.com/company/stockholms-stads-bostadsf-rmedling-ab" target="_blank">
            <MudImage Src="images/LinkedIn_icon.png" Alt="LinkedIn icon" Height="25" Width="25" Elevation="25" Class="rounded-lg" />
        </a>
        <a href="https://www.instagram.com/boistockholm" target="_blank">
            <MudImage Src="images/Instagram_icon.png" Alt="Instagram icon" Height="25" Width="25" Elevation="25" Class="rounded-lg" />
        </a>
        <a href="mailto: lagenhet@bostad.stockholm.se?subject=Ang. Bostadsportalen">
            <MudImage Src="images/email_icon.png" Alt="Email icon" Height="25" Width="25" Elevation="25" Class="rounded-lg" />
        </a>
    </MudAppBar>
</MudLayout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}